body{
    background-image:url("../sutoratezi/EMCH5279.PNG");
    background-repeat: no-repeat;
}

.wrap{
     text-align:center;
     padding-top: 80px; 
}

#start_button {
    text-decoration: none;
    margin-top: 50px;
    width: 180px;
    height: 45px;
    font-family: "Hannari";
    font-size:24px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: whitesmoke;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
#start_button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

a.btn_01 {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 140px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid lightgreen;
	color: #fff;
	transition: 0.5s;
}
a.btn_01:hover {
	color: #fff;
	background: lightgreen;
}

.menyu{
    padding-top: 230px;
    display: flex;
    align-items: center;
}