body {
    width: 100%;
    height: 100vh;
    background-image:url("AGAO3974.PNG");
    background-repeat: no-repeat;
    
    }

.box {
    display: flex;
    padding-left: 500px;
    padding-top: 80px; 
    font-family: "Hannari"
}

.a {
    font-size: 1cm;
    width: 60px; 
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    margin-right: 10px;
}

.b {
    font-size: 1cm;
    width: 60px; 
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    margin-right: 10px;
}

.c {
    font-size: 1cm;
    width: 60px; 
    text-align: center;
    margin-right: 10px;
    background-color: aliceblue;
    border-radius: 10px;
}

.d {
    font-size: 1cm;
    width: 60px; 
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    margin-right: 10px;
}

.e {
    font-size: 1cm;
    width: 60px; 
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    margin-right: 10px;
}

.f {
    font-size: 1cm;
    width: 60px; 
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    margin-right: 10px;
}

.g {
    font-size: 1cm;
    width: 50px; 
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    margin-right: 10px;
}

.box2 {
    display: flex;
    padding-left: 460px;
    font-size: 2.0cm;
    color:lightyellow;
    border-radius: 10px;
    text-align: center;
    font-family: "Hannari";
}

.h{
    padding-top: 10px; 
    font-size: 1.8cm;
    color:lightgreen;
    border-radius: 10px;
    text-align: center;
    font-family: "Hannari";
    
}

.I{
    font-size: 1.8cm;
    color:lightgreen;
    border-radius: 10px;
    text-align: center;
    font-family: "Hannari";
    
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 190px;
  }
  
  .button {
    text-decoration: none;
    margin-top: 50px;
    margin-left: 80px;
    width: 180px;
    height: 45px;
    font-family: "Hannari";
    font-size:24px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .J{
    color:#fff;
    margin-top: 150px;
    font-size: 1.5cm;
    text-align: center;
    font-family: "Hannari";
    border-radius: 10px;
  }

  